<ng-container *ngIf="branchInfo$ | async as vm">
  <h2 class="branch-type-heading">Default Branches</h2>
  <div class="branches-list">
    <idc-branch-container
      *ngFor="let branch of vm.defaultBranches"
      [branch]="branch"
    ></idc-branch-container>
  </div>

  <h2 class="branch-type-heading other-branches">Other Branches</h2>
  <div class="branches-list">
    <idc-branch-container
      *ngFor="let branch of vm.otherBranches"
      [branch]="branch"
    ></idc-branch-container>
  </div>
</ng-container>
