:host {
  display: block;
  padding: 1rem;
}

.other-branches {
  margin-top: 2rem;
}

.branches-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;

  > * {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.branch-type-heading {
  color: hsl(120, 13%, 48%);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(120, 10%, 45%);
}
