:host {
  display: block;
  padding: 1rem;
}

.other-branches {
  margin-top: 2rem;
}

.branches-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 20rem));
  grid-gap: 1rem;
  margin-top: 1rem;
}

.branch-type-heading {
  color: hsl(120, 13%, 48%);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsl(120, 10%, 45%);
}
