<div class="branch" [ngClass]="[branch.checkSuiteStatus, viewType]">
  <div class="container-heading">
    <div class="heading-left">
      <h2 class="repo-name">
        <a
          href="//github.com/{{ branch.organizationName }}/{{
            branch.repositoryName
          }}"
          >{{ branch.organizationName }}/{{ branch.repositoryName }}</a
        >
      </h2>
      <div class="branch-name">
        <svg class="svg-icon branch-icon" width="1rem" height="1rem">
          <use href="assets/icons.svg#branch"></use>
        </svg>
        <a class="no-wrap" href="{{ getBranchLink() }}">{{
          branch.branchName
        }}</a>
      </div>
    </div>
    <svg
      *ngIf="branch.checkSuiteStatus === CheckSuiteConclusion.Failure"
      class="svg-icon failure"
      width="2rem"
      height="2rem"
    >
      <use href="assets/icons.svg#x"></use>
    </svg>
    <svg
      *ngIf="branch.checkSuiteStatus === CheckSuiteConclusion.Success"
      class="svg-icon success"
      width="2rem"
      height="2rem"
    >
      <use href="assets/icons.svg#check"></use>
    </svg>
  </div>
  <div class="card-content">
    <div class="left-column">
      <div class="last-updated">
        <svg
          *ngIf="branch.checkSuiteStatus === CheckSuiteConclusion.Success"
          class="svg-icon"
          width="1rem"
          height="1rem"
        >
          <use href="assets/icons.svg#clock"></use>
        </svg>
        <span class="no-wrap"
          ><ng-container *ngIf="branch.updated_at; else createdAt">
            {{ branch.updated_at | date: 'MMM d, h:mm a' }}
          </ng-container>
          <ng-template #createdAt>
            {{ branch.created_at | date: 'MMM d, h:mm a' }}
          </ng-template></span
        >
      </div>

      <div *ngIf="branch.head_sha" class="latest-sha">
        <svg class="svg-icon" width="1rem" height="1rem">
          <use href="assets/icons.svg#git-commit"></use>
        </svg>
        <a href="{{ getCommitLink() }}">{{ branch.head_sha | slice: 0:7 }}</a>
      </div>

      <div class="committer">
        <svg class="svg-icon" width="1rem" height="1rem">
          <use href="assets/icons.svg#person"></use>
        </svg>
        <ng-container *ngIf="branch.head_commit; else sender">
          <span class="no-wrap">{{ branch.head_commit.author.name }}</span>
        </ng-container>
        <ng-template #sender>
          {{ branch.createdBy }}
        </ng-template>
      </div>
    </div>

    <div class="right-column">
      <span *ngIf="branch.checkSuiteRuns > 0" class="failure-percentage">{{
        getFailurePercentage()
      }}</span
      ><span></span>
    </div>
  </div>
</div>
