<div class="branch" [ngClass]="branch.checkSuiteStatus">
  <div class="container-heading">
    <div class="heading-left">
      <h2 class="repo-name">
        <a
          href="//github.com/{{ branch.organizationName }}/{{
            branch.repositoryName
          }}"
          >{{ branch.repositoryName }}</a
        >
      </h2>
      <div class="branch-name">
        <svg
          width="1.25rem"
          height="1.25rem"
          class="octicon octicon-git-branch"
          viewBox="0 0 10 16"
          version="1.1"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 5c0-1.11-.89-2-2-2a1.993 1.993 0 00-1 3.72v.3c-.02.52-.23.98-.63 1.38-.4.4-.86.61-1.38.63-.83.02-1.48.16-2 .45V4.72a1.993 1.993 0 00-1-3.72C.88 1 0 1.89 0 3a2 2 0 001 1.72v6.56c-.59.35-1 .99-1 1.72 0 1.11.89 2 2 2 1.11 0 2-.89 2-2 0-.53-.2-1-.53-1.36.09-.06.48-.41.59-.47.25-.11.56-.17.94-.17 1.05-.05 1.95-.45 2.75-1.25S8.95 7.77 9 6.73h-.02C9.59 6.37 10 5.73 10 5zM2 1.8c.66 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2C1.35 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2zm0 12.41c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm6-8c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"
          ></path>
        </svg>
        <a href="{{ getBranchLink() }}">{{ branch.branchName }}</a>
      </div>
    </div>
    <svg
      height="32"
      class="octicon octicon-x heading-right"
      viewBox="0 0 12 16"
      version="1.1"
      width="24"
      aria-hidden="true"
      *ngIf="branch.checkSuiteStatus === CheckSuiteConclusion.Failure"
    >
      <path
        fill-rule="evenodd"
        d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"
      ></path>
    </svg>
    <svg
      height="32"
      class="octicon octicon-check"
      viewBox="0 0 12 16"
      version="1.1"
      width="24"
      aria-hidden="true"
      *ngIf="branch.checkSuiteStatus === CheckSuiteConclusion.Success"
    >
      <path
        fill-rule="evenodd"
        d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"
      ></path>
    </svg>
  </div>
  <div class="card-content">
    <div class="left-column">
      <div class="last-updated">
        <svg
          width="1rem"
          height="1rem"
          class="octicon octicon-clock"
          viewBox="0 0 14 16"
          version="1.1"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M8 8h3v2H7c-.55 0-1-.45-1-1V4h2v4zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 011.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"
          ></path>
        </svg>
        <span class="no-wrap"
          ><ng-container *ngIf="branch.updated_at; else createdAt">
            {{ branch.updated_at | date: 'MMM d, h:mm a' }}
          </ng-container>
          <ng-template #createdAt>
            {{ branch.created_at | date: 'MMM d, h:mm a' }}
          </ng-template></span
        >
      </div>

      <div *ngIf="branch.head_sha" class="latest-sha">
        <svg
          width="1rem"
          height="1rem"
          class="octicon octicon-git-commit"
          viewBox="0 0 14 16"
          version="1.1"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10.86 7c-.45-1.72-2-3-3.86-3-1.86 0-3.41 1.28-3.86 3H0v2h3.14c.45 1.72 2 3 3.86 3 1.86 0 3.41-1.28 3.86-3H14V7h-3.14zM7 10.2c-1.22 0-2.2-.98-2.2-2.2 0-1.22.98-2.2 2.2-2.2 1.22 0 2.2.98 2.2 2.2 0 1.22-.98 2.2-2.2 2.2z"
          ></path></svg
        ><a href="{{ getCommitLink() }}">{{ branch.head_sha | slice: 0:7 }}</a>
      </div>

      <div class="committer">
        <svg
          width="1rem"
          height="1rem"
          class="octicon octicon-person"
          viewBox="0 0 12 16"
          version="1.1"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M12 14.002a.998.998 0 01-.998.998H1.001A1 1 0 010 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"
          ></path>
        </svg>
        <ng-container *ngIf="branch.head_commit; else sender">
          <span class="no-wrap">{{ branch.head_commit.author.name }}</span>
        </ng-container>
        <ng-template #sender>
          {{ branch.createdBy }}
        </ng-template>
      </div>
    </div>

    <div class="right-column">
      <span *ngIf="branch.checkSuiteRuns > 0" class="failure-percentage">{{
        getFailurePercentage()
      }}</span
      ><span></span>
    </div>
  </div>
</div>
